* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.new {
  position: absolute;
  background-color: navy;
  color: aliceblue;
  width: 100px;
  padding: 5px;
  text-align: center;
  top: 0;
  right: 0;
  font-size: 14px;
}

/* chuc năng */
.dau {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.dau-it {
  position: relative;
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.dau-it a {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: navy;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  transition: all 0.3s ease-in-out;
}

.dau-it a:hover {
  background-color: white;
  color: navy;
  transform: scale(1.1);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.phu {
  position: absolute;
  font-size: 40px;
  border-radius: 5px;
  top: 5%;
  left: 5%;
  color: transparent;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  background-clip: text;
}

.phu {
  transform: translateY(100%);
  animation: phu 5s forwards;
}

@keyframes phu {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}



/* web */

@media only screen and (max-width: 600px) {
  .dau {
    display: grid;
    grid-template-columns: 1fr;
  }
}