* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 100%;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.nhap {
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    width: 300px;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.nhap input {
    width: 60%;
    height: 30px;
}