* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* style.css */

/* Thiết lập kiểu chung */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Tiêu đề */
h1 {
    text-align: center;
    margin: 40px 0;
    color: #333;
}

h1 {
    position: absolute;
    left: 2%;

}

/* Biểu mẫu */
form {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    height: 100vh;

}

/* Các trường nhập liệu */
.nhap {
    display: flex;
    flex-direction: column;
}

.nhap label {

    margin-bottom: 5px;
    color: black;
}

.nhap input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

input::placeholder {
    font-size: 14px;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Nút gửi */
input[type="submit"] {
    background-color: navy;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    grid-column: 1 / -1;
    justify-self: center;
    width: 150px;
    height: 40px;
}

input[type="submit"]:hover {
    background-color: white;
    color: navy;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}