* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-image: url(../image/background-chucnang.jpeg);
}

/* Phần Đầu */
.dau {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  height: auto;
  width: 100%;
  padding: 20px;

}

.dau-it {
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.dau-it a {
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: navy;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition: all 0.3s ease-in-out;
}

.dau-it a:hover {
  background-color: navy;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}